$background-index: #000000d7;
$background-fotografo: #000000d7;
$background-programador: #000000d7;
$background-ingpetroleo: #000000d7;
$background-contactenos: #000000d7;
$background-footer: #000000d7;
$background-footer: #000000d7;
$background-fondo-index: #000842;

$fuentes-principal: 'Nerko One', cursive;
$fuentes-secundaria: 'poppins', sans-serif;
$fuentes-ter: 'roboto', sans-serif;