/*----------------------------------------PROGRAMADOR--------------------------------------- */
  
.programador-tex section h1 {
    font-size: 5em;
    display: flex;
    justify-content: center;    
    margin: 0.2em;
    color: #000000;
    }
  
  .programador-tex section p {
    display: flex;
    text-align: justify;
    color: #000000;
    padding: 1em;
  }
  
  .programador-tex section img {
    display: flex;
    float: left;
    align-items: center;
    margin-top: 10em;
    margin-left: 1em;
  }    
  